@import "tailwindcss";

body {
    background-color: black;
}

@layer base {
    main {
        @apply w-full overflow-hidden m-auto;
    }
}

@layer components {

#navBar {
    @apply text-white text-xs font-sans h-11;

    .navContainer {
        @apply flex max-w-screen-lg justify-between items-center mx-auto h-full px-8
    }

    .navLogo {
        @apply shrink-0 hover:text-slate-400 hover:cursor-pointer
    }

    .navContent {
        @apply flex-auto px-8 max-md:hidden
    }

    .navContent > ul {
        @apply flex justify-between w-full
    }

    .navContent > ul > li {
        @apply hover:text-slate-400 hover:cursor-pointer
    }

    .navIcons {
        @apply flex shrink-0 space-x-8
    }

    .navIcons > img {
        @apply hover:text-slate-400 hover:cursor-pointer;
    }
}

#hero {
    @apply max-w-screen-xl mt-10 relative mx-auto;

    .heroContent {
        @apply flex justify-center items-center w-full
    }

    .heroContent img {
        @apply w-full h-auto;
    }

    .heroComponents {
        @apply w-full text-white absolute flex flex-col justify-center items-center max-lg:bottom-4 bottom-15
    }

    .btn {
        @apply bg-blue-600 py-2 px-4 rounded-3xl font-sans font-semibold text-lg
    }

    .heroComponents > p {
        @apply font-sans text-[20px] font-semibold py-3
    }


}

#highlights {
    @apply text-white w-full overflow-hidden relative bg-[#1d1d1f] h-[850px] font-sans ;

    .highlightsContainer {
         @apply max-w-7xl  mx-auto lg:mt-38 md:mt-25 max-sm:mt-20 sm:mt-20  px-15 max-md:px-25 max-md:mt-10 max-sm:px-10
    }

    .highlightsLabel {
        @apply  flex justify-between w-full  max-md:flex-col
    }

    .highlightsLabel  h1 {
        @apply lg:text-[60px]  max-md:text-[30px] text-[45px] font-semibold text-left max-md:text-3xl
    }

    .highlightsLabel  a {
        @apply flex max-md:mt-5  items-end md:justify-end gap-2 sm:justify-baseline max-sm:mt-5 text-blue-600 font-normal hover:underline cursor-pointer 
    }


}

#shop {
    @apply text-black w-full overflow-hidden relative font-sans bg-[#f5f5f7] h-[880px];

    .shopContainer {
        @apply max-w-7xl  mx-auto lg:mt-38 md:mt-25 max-sm:mt-20 sm:mt-20  px-15 max-md:px-25 max-md:mt-10 max-sm:px-10
    }

    .shopLabel {
        @apply flex justify-between w-full  max-md:flex-col
    }

    .shopLabel h1 {
         @apply  lg:text-[60px]  max-md:text-[30px] text-[45px] max-md:leading-9 font-semibold text-left max-md:text-3xl text-balance leading-15 tracking-tight

    }

    .shopLabel a {
        @apply flex max-md:mt-5  items-end md:justify-end gap-2 sm:justify-baseline max-sm:mt-5 text-blue-600 font-normal hover:underline cursor-pointer 
    }

    .shopContent {
        @apply flex flex-row flex-3 mx-auto  mt-10 gap-8  w-fit py-10
    }

    .shopCard {
        @apply  bg-white  rounded-3xl overflow-hidden flex flex-col justify-between h-[480px] w-[370px]
        
    }

    .cardContent {
        @apply  px-5 py-5 text-wrap 
        
    }

    p.cardType {
        @apply  font-sans font-semibold text-shadow-sm text-[14px]
        
    }

    p.cardTitle {
        @apply  font-sans font-semibold text-shadow-sm text-[26px] text-base/8 py-3  tracking-tighter
        
    }

    p.cardDescription {
        @apply text-sm text-shadow-sm
    }

    .cardImage {
        @apply mx-auto w-full h-auto mt-auto object-fill shrink-0 bg-amber-300 flex justify-end relative
    }

    .cardImage button {
        @apply absolute  bottom-0 mr-4 mb-4 bg-black rounded-full p-1 hover:bg-gray-800 transition-colors;
    }

}

#exploreIphone {
    @apply font-sans w-full overflow-hidden relative bg-[#f5f5f7] h-auto;

    .exploreContainer {
        @apply max-w-7xl  mx-auto mt-20  px-15 max-md:px-25 max-md:mt-0 max-sm:px-10 
    }

    .exploreLabel {
        @apply flex justify-between w-full  max-md:flex-col
    }

    .exploreLabel h1 {
       @apply lg:text-[60px]  max-md:text-[30px] text-[45px] max-md:leading-9 font-semibold text-left max-md:text-3xl text-balance leading-15 tracking-tight
    }

    .exploreLabel a {
        @apply flex max-lg:mt-5  items-end lg:justify-end gap-2 sm:justify-baseline  text-blue-600 font-normal hover:underline cursor-pointer 
    }

    .exploreContent {
       @apply flex flex-row lg:bg-white rounded-3xl overflow-hidden mx-auto mt-20 mb-50  lg:py-30  justify-center 

    }
    
    .iPhone-group {
        @apply md:text-center max-sm:text-left w-90 max-sm:w-50
    }

    .product-card {
        /* @apply max-sm:mx-5  */
    }

    .image-wrapper {
        @apply flex justify-center items-center 
    }

    .image-wrapper img{
        @apply max-sm:w-[170px] shrink-0 flex mx-auto max-md:w-[210px]
    }

    .colors {
        @apply flex flex-row gap-1.5 md:justify-center py-9 max-sm:justify-baseline w-full px-10 max-sm:px-5
    }

    .color-swatches {
         @apply inset-shadow-[-0px_2px_0px_rgba(0,0,0,0.30)] shadow-sm  flex flex-row h-[11px] w-[11px] rounded-full hover:cursor-pointer
    }

    .arrival {
        @apply text-[#be5f1f] font-semibold text-shadow-xs text-xs capitalize flex flex-col w-full px-10 max-sm:px-5
    }

    .product-info {
        @apply w-full flex flex-col px-10 max-md:w-[250px] max-sm:w-[200px] max-sm:px-5  md:items-center items-start;

        h3 {
            @apply relative text-gray-800 max-lg:text-[27px] text-3xl py-3 font-semibold text-shadow-xs max-sm:text-[22px] max-md:text-2xl font-sans
        }

        p.motto {
            @apply text-gray-800 text-shadow-xs text-[15px]
        }

        p.price {
            @apply  py-3 text-[20px] font-semibold  text-gray-800 text-shadow-xs
        }

        span {
            @apply relative  mt-11 font-sans font-normal text-lg text-slate-600 max-sm:text-[14px] max-md:text-[15px] text-shadow-xs
        }

        a.link-view {
            @apply relative bg-blue-600 py-1.5 px-5 mt-8 rounded-3xl font-sans text-lg text-white max-sm:text-[14px] max-md:text-[15px] font-normal text-shadow-xs
        }

        a.buyBtn {
            @apply relative flex flex-row justify-center items-center text-center mt-5 mb-2 font-sans font-normal text-lg text-blue-600 max-sm:text-[14px] max-md:text-[15px] text-shadow-xs hover:underline
        }

        a.buyBtn svg{
            @apply relative top-0.5
        }

        
    }

    .slice {
        @apply  border-t border-slate-300 w-2xs
    }

    .phoneDisplay {
        @apply mt-12
    }

    .phoneDisplay h3 {
        @apply relative text-gray-800 max-lg:text-[27px] text-3xl py-3 font-semibold text-shadow-xs max-sm:text-[22px] max-md:text-2xl font-sans
    }

    .phoneDisplay p {
        @apply text-slate-600 font-sans text-xs text-shadow-2xs
    }

    .cameraDisplay {
        @apply mt-12 flex flex-col justify-center items-center;

        p {
            @apply text-slate-600 font-sans text-xs text-shadow-2xs leading-7
        }
    }

    .chip {
        @apply mt-12 flex flex-col justify-center items-center;

        p {
            @apply text-slate-600 font-sans text-xs text-shadow-2xs leading-7
        }
    }

    .battery {
        @apply mt-12 flex flex-col justify-center items-center;

        p {
            @apply text-slate-600 font-sans text-xs text-shadow-2xs leading-7
        }
    }

    .AI {
        @apply mt-12 flex flex-col justify-center items-center;

        label {
            @apply text-slate-600 font-sans text-xs text-shadow-2xs leading-7
        }

        p {
            @apply text-slate-600 font-sans text-xs text-shadow-2xs leading-4.5 mt-12 text-center
        }
    }


}


}