@import "tailwindcss";

body {
    background-color: black;
}

@layer base {
    main {
        @apply w-full overflow-hidden m-auto;
    }
}

@layer components {

#navBar {
    @apply text-white text-xs font-sans h-11;

    .navContainer {
        @apply flex max-w-screen-lg justify-between items-center mx-auto h-full px-8
    }

    .navLogo {
        @apply shrink-0 hover:text-slate-400 hover:cursor-pointer
    }

    .navContent {
        @apply flex-auto px-8 max-md:hidden
    }

    .navContent > ul {
        @apply flex justify-between w-full
    }

    .navContent > ul > li {
        @apply hover:text-slate-400 hover:cursor-pointer
    }

    .navIcons {
        @apply flex shrink-0 space-x-8
    }

    .navIcons > img {
        @apply hover:text-slate-400 hover:cursor-pointer;
    }
}

#hero {
    @apply max-w-screen-xl mt-10 relative mx-auto;

    .heroContent {
        @apply flex justify-center items-center w-full
    }

    .heroContent img {
        @apply w-full h-auto;
    }

    .heroComponents {
        @apply w-full text-white absolute flex flex-col justify-center items-center max-lg:bottom-4 bottom-15
    }

    .btn {
        @apply bg-blue-600 py-2 px-4 rounded-3xl font-sans font-semibold text-lg
    }

    .heroComponents > p {
        @apply font-sans text-[20px] font-semibold py-3
    }


}

#highlights {
    @apply text-white w-full overflow-hidden relative bg-[#1d1d1f] h-[850px] font-sans ;

    .highlightsContainer {
        @apply max-w-7xl  mx-auto mt-25  px-15 max-md:px-25 max-md:mt-10 max-sm:px-10
    }

    .highlightsLabel {
        @apply  flex justify-between w-full  max-md:flex-col
    }

    .highlightsLabel  h1 {
        @apply lg:text-[60px]  max-md:text-[30px] text-[45px] font-semibold text-left max-md:text-3xl
    }

    .highlightsLabel  a {
        @apply flex max-md:mt-5  items-end md:justify-end gap-2 sm:justify-baseline max-sm:mt-5 text-blue-600 font-normal hover:underline cursor-pointer 
    }


}

#shop {
    @apply text-black w-full overflow-hidden relative font-sans bg-[#f5f5f7] h-[880px];

    .shopContainer {
        @apply max-w-7xl  mx-auto mt-25  px-15 max-md:px-25 max-md:mt-10 max-sm:px-10
    }

    .shopLabel {
        @apply flex justify-between w-full  max-md:flex-col
    }

    .shopLabel h1 {
         @apply  lg:text-[60px]  max-md:text-[30px] text-[45px] max-md:leading-9 font-semibold text-left max-md:text-3xl text-balance leading-15 tracking-tight

    }

    .shopLabel a {
        @apply flex max-md:mt-5  items-end md:justify-end gap-2 sm:justify-baseline max-sm:mt-5 text-blue-600 font-normal hover:underline cursor-pointer 
    }

    .shopContent {
        @apply flex flex-row flex-3 mx-auto  mt-10 gap-8  w-fit
    }

    .shopCard {
        @apply  bg-white  rounded-3xl overflow-hidden flex flex-col justify-between h-[480px] w-[370px]
        
    }

    .cardContent {
        @apply  px-5 py-5 text-wrap 
        
    }

    p.cardType {
        @apply  font-sans font-semibold text-shadow-sm text-[14px]
        
    }

    p.cardTitle {
        @apply  font-sans font-semibold text-shadow-sm text-[26px] text-base/7 py-3  tracking-tighter
        
    }

    p.cardDescription {
        @apply text-sm text-shadow-sm
    }

    .cardImage {
        @apply mx-auto w-full h-auto mt-auto object-fill shrink-0 bg-amber-300 flex justify-end relative
    }

    .cardImage button {
        @apply absolute  bottom-0 mr-4 mb-4 bg-black rounded-full p-1 hover:bg-gray-800 transition-colors;
    }

}

#exploreIphone {
    @apply font-sans w-full overflow-hidden relative bg-[#f5f5f7] h-auto;

    .exploreContainer {
        @apply max-w-7xl  mx-auto mt-25  px-15 max-md:px-25 max-md:mt-10 max-sm:px-10
    }

    .exploreLabel {
        @apply flex justify-between w-full  max-md:flex-col
    }

    .exploreLabel h1 {
       @apply lg:text-[60px]  max-md:text-[30px] text-[45px] max-md:leading-9 font-semibold text-left max-md:text-3xl text-balance leading-15 tracking-tight
    }

    .exploreLabel a {
        @apply flex max-lg:mt-5  items-end lg:justify-end gap-2 sm:justify-baseline  text-blue-600 font-normal hover:underline cursor-pointer 
    }

    .exploreContent {
       @apply flex flex-row lg:bg-white rounded-3xl overflow-hidden mx-auto mt-20 mb-50  py-20 justify-center

    }
    
    .iPhone-group {
        @apply text-center max-sm:text-left mx-1 w-fit
    }

    .image-wrapper {
        @apply flex justify-center items-center 
    }

    .image-wrapper img{
        @apply max-sm:w-[200px] shrink-0 flex mx-auto max-md:w-[220px]
    }

    .colors {
        @apply flex flex-row gap-2 justify-center py-8
    }

    .color-swatches {
         @apply inset-shadow-[-0px_2px_0px_rgba(0,0,0,0.30)] shadow-sm  flex flex-row h-[11px] w-[11px] rounded-full hover:cursor-pointer
    }

    .arrival {
        @apply text-[#be5f1f] font-semibold text-shadow-xs text-xs capitalize
    }

    .product-info {
        @apply flex flex-col w-fit;

        h3 {
            @apply relative text-3xl py-3 font-semibold text-shadow-xs
        }
    }


}


}